<h1> Welcome To Book Reviews </h1>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

<br>

<%= link_to "Login", login_path %>
Or
<%= link_to "Signup", signup_path %>
Or
<%= link_to 'Signing in with the GitHub strategy', '/auth/github', method: :post %>

<%#= link_to "Log In with Google", '/auth/google_oauth2' %>
 

