<h1> Welcome To Book Reviews </h1>

<p><%= flash[:alert] %></p>

<ul>
  <li> <%= link_to "Login", login_path %> </li>
  <li> <%= link_to "Sign Up", signup_path %> </li>
  <li> <%= link_to 'Login with GitHub', '/auth/github', method: :post %> </li>
</ul>


 

