<h2> Welcome <%= @user.username %>! </h2>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

<h3> Here are the books you have reviewed: </h3>

<ul>
  <% @user.reviews.each do |r| %>
    <li>
      <%= link_to r.book.title_and_author, book_path(r.book) %> - 
      <%= link_to "See your review", review_path(r) %> <br>
    </li>
  <% end %>
</ul>
