<h2> Welcome <%= @user.username %>! </h2>

<h3> Here are the books you have reviewed: </h3>

<ul>
  <% @user.reviews.each do |r| %>
    <li>
      <%= r.book.title %> by <%= r.book.author %> <br>
      <%= link_to "See your review", review_path(r) %> <br>
    </li>
  <% end %>
</ul>
