<h1> Books Index Page </h1>

<% if @books.empty? %>

  <h3> There are currently no books in the index. </h3>

<% else %>

  <ul>

    <% @books.each do |b| %>

      <li>
        <h3> <%= link_to b.title_and_author, book_path(b) %> </h3>
        <%= link_to "Write a review", new_book_review_path(b) %> - 
        <%= link_to "See all reviews for this book", book_reviews_path(b) %>
      </li>

      <br>
      
    <% end %>

  </ul>

<% end %>

