<h2>Review Index</h2>

<% if @reviews.empty? %>
  <h3> There are currently no reviews </h3>
<% else %>
  <ul>
    <% @reviews.each do |r| %>
      <li>
        <%= r.book.title %> by <%= r.book.author %> <br>
        Reviewed by: <%= r.user.username %> <br>
        <%= link_to "See Review", review_path(r) %>
      </li>
      <br>
    <% end %>
  </ul>
<% end %>